<!DOCTYPE html>
<html lang="en"
      xmlns=""
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<!--contents assessForm.html-->
    <!--assess by patient id-->
    <section th:unless="${familyName}">
        <form th:action="@{/assess/id}" method="post" style="width: 100%">
            <div class="row my-2 justify-content-center text-center">
                <h1>Assessment form</h1>
            </div>
            <!--Patient id-->
            <div class="row my-2 justify-content-center">
                <div class="col-3">
                 <label for="patientId">Patient ID:</label>
                </div>
                <div class="col-3">
                    <input type="text" id="patientId" name="patientId" th:value="${patientId}" />
                </div>
            </div>
            <div class="row ">
                <div class="col-4 offset-4 text-center">
                    <button class="btn btn-danger text-white" type="reset"><a style="text-decoration:none; color:white;" href="/assess/family">Assess with family name</a></button>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </section>
<!--assess by family name-->
    <section th:if="${familyName}">
        <form th:action="@{/assess/family}" method="post" style="width: 100%">
            <div class="row my-2 justify-content-center text-center">
                <h1>Assessment form</h1>
            </div>
            <!--Patient id-->
            <div class="row my-2 justify-content-center">
                <div class="col-3">
                 <label for="familyName">Patient's family name:</label>
                </div>
                <div class="col-3">
                    <input type="text" id="familyName" name="familyName" th:value="${familyName}" />
                </div>
            </div>
            <div class="row ">
                <div class="col-4 offset-4 text-center">
                    <button class="btn btn-danger text-white" type="reset"><a style="text-decoration:none; color:white;" href="/assess/id">Assess with patient's id</a></button>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </section>
</body>
</html>