<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Patient information</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
</head>
<body>
    <section>
        <div class="container text-center p-5">
            <div class="row mb-2">
                <div class="col">
                    <div th:if="${patient}">
                        <h1>Patient information</h1>
                        <p>Id : <span th:text="${patient.id}"></span></p>
                        <p>Nom : <span th:text="${patient.family}"></span></p>
                        <p>Prénom : <span th:text="${patient.given}"></span></p>
                        <p>Date de naissance : <span th:text="${patient.dob}"></span></p>
                        <p>Sexe : <span th:text="${patient.sex}"></span></p>
                        <p>Adresse : <span th:text="${patient.address}"></span></p>
                        <p>Numéro de téléphone : <span th:text="${patient.phone}"></span></p>
                        <button><a th:href="@{/patient/update/{patientId}(patientId=${patient.id})}">Update</a></button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--contents for patients-->
    <section>
        <div class="container text-center p-5">
            <div class="row mb-2">
                <div class="col">
                    <div th:if="${patients}">
                        <h1>All Patients information</h1>
                        <table class="table table-striped text-center">
                            <thead class="bg-success text-white font-weight-normal">
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Nom</th>
                                <th scope="col">Prénom</th>
                                <th scope="col">Date de naissance</th>
                                <th scope="col">Sexe</th>
                                <th scope="col">Adresse</th>
                                <th scope="col">Numéro de téléphone</th>
                                <th scope="col">Action</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr th:if="${patients.isEmpty()}">
                                <td colspan="3">No patients</td>
                            </tr>
                            <tr th:each="patient, iterstat : ${patients}" th:class="${iterstat.odd}?'odd'">
                                <td th:text="${patient.id}"></td>
                                <td th:text="${patient.family}"></td>
                                <td th:text="${patient.given}"></td>
                                <td th:text="${patient.dob}"></td>
                                <td th:text="${patient.sex}"></td>
                                <td th:text="${patient.address}"></td>
                                <td th:text="${patient.phone}"></td>
                                <td><button><a th:href="@{/patient/update/{patientId}(patientId=${patient.id})}">Update</a></button></td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
